apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deploy-without-replica
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        tier: web 
    spec:
      containers:
        - image: nginx
          name: nginx