apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-recreate-minreadyseconds
spec:
  replicas: 3
  minReadySeconds: 60
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - image: nginx
          name: web