# demo-deploy-default-replica.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deploy-default-replica
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        type: front-end
    spec:
      containers:
        - name: nginx
          image: nginx