# db-deny-all-ingress.yaml
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: db-deny-all-ingress
  namespace: db
spec:
  podSelector:
    matchLabels:
      app: mongo
  policyTypes:
    - Ingress