apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: demo-rs-default-replicas
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        tier: front-end
    spec:
      containers:
        - name: nginx
          image: nginx