# demo-job-completion-lt-parallelism.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: demo-job-completion-lt-parallelism
spec:
  completions: 2 # completion < parallelism
  parallelism: 5
  template:
    spec:
      restartPolicy: Never
      volumes:
        - name: local-storage
          hostPath:
            path: /tmp/data
            type: DirectoryOrCreate
      containers:
        - name: writer
          image: busybox
          volumeMounts:
            - name: local-storage
              mountPath: /data
          command:
            - "/bin/sh"
            - "-c"
          args:
            - |
              echo "$(date) Container message";
              echo "$(date) Container message" >> /data/message.txt;
              sleep 30;